@import "../../styles/global.scss";

.footer {
  background-color: #35373a;
  color: $color-white;
  p {
    font-family: $secondary-font;
  }
  a {
    color: $color-white;
    opacity: 0.9;
    text-decoration: none;
    &:hover {
      color: $color-primary;
    }
  }
  font-family: $secondary-font;
  &__down {
    background-color: #202124;
  }
  .row {
    a {
      width: auto;
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
  .contactBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .qrCode {
      width: 80px;
      height: 113px;
    }
    &__socialMedia {
      a,
      svg,
      a:hover,
      svg:hover {
        transition: all ease-in-out 0s;
      }
    }
    &__images {
      .row {
        img {
          width: 140px;
          height: 45px;
        }
        a {
          padding: 0;
        }
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__logo{
    width: 100px;
    height: 30px;
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: $md-breakpoint) {
  .footer {
    .contactBlock {
      justify-content: flex-end;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 20px;
      .qrCode {
        max-width: 45px;
        height: 65px;
      }
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .footer {
    .contactBlock {
      .qrCode {
        max-width: 80px;
        height: 113px;
      }
    }
  }
}
