@import "../../styles/global";

.header {
  background-color: $bg-elevation-1;
  &__logo {
    width: 110px;
    height: 33px;
    overflow: hidden;
      img {
        max-width: 100%;
        height: 100%;
      }
    
  }
  &__actions {
    display: flex;
    align-items: center;
    a:nth-last-of-type(1) {
      margin-right: 0.5rem !important;
    }
  }
  &__theme-toggle {
    position: relative;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: transparent;
    width: 40px;
    height: 40px;
    color: $bg-secondary;
    transition: all ease-in 0.3s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgba($color: $color-black-text, $alpha: 0.2);
    }
    .sun,
    .moon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      width: fit-content;
      height: fit-content;
      transition: all ease-in 0.4s;
    }
    .sun {
      transform: translate(-9px, 0px);
    }
    .moon {
      transform: translate(10px, 0px);
      font-size: 1.1rem;
    }
    .sun-animate {
      transform: translate(-30px, 30px);
      transition: all ease-in 0.4s;
    }
    .moon-animate {
      transform: translate(30px, 30px);
      transition: all ease-in 0.4s;
    }
  }
  .navbar{
    height: 66px;
    &-brand{
      flex-grow: 1;
    }
  }
  .navbar-brand{
    cursor: auto;
  }
  .navbar-toggler {
    order: -1;
    border: none;
    padding: 0.5rem;
    border: none;
    font-size: 1.8rem;
    color: $bg-secondary;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-collapse {
    order: 2;
    position: absolute;
    width: 90vw;
    height: calc(100vh - 66px);
    left: 0;
    top: 66px;
    background-color: $bg-primary;
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.15);
    transition: all ease-in-out 1s;
    z-index: 50;
    padding: 1rem;
    &.collapse:not(.show) {
      left: -500px;
      width: 0vw;
      display: block;
      transition: all ease-in-out 1s;
    }
    .navbar-nav {
      .nav-link {
        color: $color-text-primary;
        font-family: $primary-font;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-bottom: solid 1px $color-border;
        padding: 1rem .5rem;
        .icon {
          padding-right: 0.5rem;
          font-size: 1.5rem;
          color: $color-text-primary;
        }
        &:hover {
          opacity: 0.8;
        }
        &.active {
          color: $color-primary;
          .icon {
            color: $color-primary;
          }
        }
      }
      .show {
        .nav-link {
          color: $bg-secondary;
          opacity: 0.6;
        }
      }
    }
  }

  @media (min-width: $md-breakpoint) {
    .header {
      background-color: $bg-elevation-1;
      &__logo {
        width: 160px;
        height: 40px;
      }
    }
  }

  @media (min-width: $lg-breakpoint) {
    .navbar-toggler {
      order: 0;
    }
    .navbar-collapse {
      order: 0;
      padding: 0;
      align-items: flex-start;
      width: 100px;
      box-shadow: none;
      background-color: transparent;
      &.collapse:not(.show) {
        left: -0px;
        width: 100px;
        display: block;
        transition: all ease-in-out 1s;
      }
      .navbar-nav {
        flex-direction: column;
        .nav-link {
          border-bottom: none;
          flex-direction: column;
          text-align: center;
          font-size: .8rem;
          padding: .5rem;
          .icon{
            padding-right: 0;
          }
        }
      }
    }
  }
}
