@import "../../styles/global.scss";

.floatingButton {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    background-color: #00B2FF !important;

    .icon {
        font-size: 30px;
    }
}
    


