@import "../../styles/global.scss";


.selectAutocomplete{

  .MuiInputBase-input{
    color: $color-text-primary;
  }
  .MuiFormLabel-root{
    color: $color-text-primary;
  }
  .iconOptions{
    .icon{
      font-size: 1.8rem;
    }
  }
  .MuiInputLabel-shrink {
    display: none;
    legend {
      display: none;
    }
  }
  .MuiInputAdornment-positionStart {
    
    &.origin{
      .icon {
        color: $color-border;
        font-size: 1.2rem;
        top: 17px;
        position: absolute;
        left: 11px;
        
      }
    }
    &.destination{
      color: $color-border;
      .icon {
        position: absolute;
        font-size: 1.8rem;
        top: 13px;
        
        left: 5px;
      }
    }

  }
  fieldset {
    border-color: $color-border;
    
    legend {
      display: none;
    }
  }
  
}

@media (min-width: $lg-breakpoint) {
  .selectAutocomplete {
    fieldset {
      border-radius: 4px 0 0 4px;
      padding-left: 15px;
    }
    .MuiAutocomplete-popupIndicator{
      display: none;
    }
    input{
      padding-left: 1.5rem!important;
    }
    .MuiAutocomplete-clearIndicator{
      margin-right: 20px;
    }
    &.destination {
      .MuiFormLabel-root{
        padding-left: 2.8rem;
      }
      .MuiInputBase-input{
        padding-left: 3rem!important;
      }
      fieldset {
        border-radius: 0 4px 4px 0;
        padding-right: 15px;
        svg {
          font-size: 30px;
        }
      }
    }
    .MuiInputAdornment-positionStart {
      &.destination{
        .icon {
          left: 23px;
        }
      }
  
    }
  }
}
