@import "../../styles/colors";
@import "../../styles/text";
@import "../../styles/global";

.helpCenter {
  background: $bg-gray-elevation-1;
  border-radius: 12px;
  padding: 1.5rem 0;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text-primary;
  .accordion {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem;
    margin: 0.5rem 0;
    width: 100%;
    .accordion-item {
      margin: 0.25rem;
      background-color: $bg-gray-elevation-2;
      border: 1px solid $color-border;
    }
    .accordion-button {
      background-color: transparent;
      &:not(.collapsed) {
        box-shadow: none;
        &::after {
          background-image: var(--bs-accordion-btn-icon);
        }
      }
    }
    .accordion-header {
      padding: 0;
      h5 {
        margin-bottom: 0;
        padding-left: 0.6rem;
        color: $color-text-primary;
      }
    }
    .accordion-body {
      color: $color-text-primary;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      min-height: 65px;
    }
  }
  .questionCard {
    &__image {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__link {
      font-size: 12px;
      padding-left: 0.7rem;
      text-decoration: none;
    }
  }
  .buttonLink {
    padding: 10px 35px;
    border-radius: 30px;
    background-color: #1a73e8;
    color: #ffffff;
    border: none;
    text-decoration: none;
    &:hover {
      background-color: $color-info;
    }
  }
}

.helpCenter .searchResults {
  width: 100%;
  padding: 0;
  .accordion {
    padding: 0;
    .questionCard{
      width: 100%;
      padding-top: 0 !important;
      padding-bottom: 0!important;
      .accordion-item {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--color-border);
        padding: 0;
      }
    }
  }
}

@media (min-width: $md-breakpoint) {
  .helpCenter {
    padding: 1.5rem;
    .accordion {
      padding: 0.5rem;
    }

  }
}
