@import "../../styles/global.scss";

body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

main {
  background-color: $bg-primary;
  flex-grow: 1;
  min-height: 650px;
  padding: 0 10px;
}


@media (min-width: $lg-breakpoint) {
  main {
    padding: 0 50px;
  }
}

