@import "../../styles/global.scss";
@import "../../styles/colors";

.searchForm {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0.5rem 0.8rem 1rem 0.8rem;
  background-color: $bg-white-elevation-1;

  .searchContainer {
    .MuiFormLabel-root {
      color: $color-text-primary;
      padding-left: 1.5rem;
    }

    .MuiIconButton-root {
      color: $color-border;
    }

    width: 100%;
    display: flex;
    justify-content: space-between;

    .searchBars {
      position: relative;

      .changeDestiny {
        position: absolute;
        right: 25px;
        top: 40px;
        z-index: 50;

        p {
          padding-right: 0.7rem;
          color: $color-primary;
          font-style: italic;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .MuiButtonBase-root {
          min-width: auto;
          border-radius: 50%;
          height: 40px;
          width: 40px;

          .icon {
            font-size: 1.4rem;
            transform: rotate(90deg);
          }
        }
      }
    }

    .dateInput {
      border: 1px solid $color-border;
      border-radius: 7px;
      width: 290px;
      padding: 15px;
    }

    .MuiInputLabel-shrink {
      display: none;
    }

    fieldset {
      border-color: $color-border;

      legend {
        display: none;
      }
    }

    .MuiInputBase-input {
      padding-left: 2rem !important;
      color: $color-text-primary;
    }
  }

  .selectContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 13px;
    margin-top: 5px;
    align-items: center;

    .selectMode,
    .selectPeopleQuantity {
      display: flex;
      border: 1px solid rgba(25, 118, 210, 0.5);
      border-radius: 24px;
      width: 80px;
      height: 34px;
      justify-content: center;

      svg {
        font-size: 22px;
        color: #1976d2;
      }

      &__button {
        &:hover {
          background-color: transparent;
        }
      }

    }

    &__button {
      border-radius: 32px;
      height: 34px;
      font-size: 10px;

      &:hover {
        opacity: 0.8;
      }

    }
  }

  .buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    button {
      width: min-content;
      padding: 10px 35px;
      border-radius: 30px;
      background-color: $color-primary;
      color: $color-white;
      border: none;

      &:hover {
        background-color: $color-info;
      }

      &[disabled] {
        opacity: .7;

        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
}

@media (min-width: $lg-breakpoint) {
  .searchForm {
    padding: 0.5rem 2rem 1rem 2rem;

    .searchContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .searchBars {
        align-items: center;
        position: relative;

        .changeDestiny {
          width: max-content;
          position: absolute;
          transform: translate(-50%, 0px);
          left: 50%;
          top: 10px;
          z-index: 50;

          .MuiButtonBase-root {
            border-radius: 4px;
            height: 35px;
            width: 35px;

            .icon {
              transform: rotate(0deg);
            }
          }
        }
      }
    }

    .selectContainer {
      &__button {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: $md-breakpoint) {
  .searchForm {
    .selectContainer {
      &__button {
        font-size: 15px;
      }
    }
  }

}